{
    "ClockifyAPIKey": "<KEY>",
    "GCPProjectId": "<ID>",
    "GCPRegion": "europe-central2",
    "GCPZone": "europe-central2-a",
    "HourlyRate": 10.0,
	"Password": "<PASSWORD>",
    "Port": ":8080",
    "WorkspaceId": "<ID>"
}
